body {
  background: #fafafa;
}
.container {
  width: 700px;
  margin: 0 auto;
}
.page-heading-img {
  background: url("http://nowiknow.com/quizzes/wp-content/uploads/2016/03/Simba-the-lion-king-18570464-1223-720.jpg");
  background-size: cover;
  height: 300px;
  width: 100%;
  background-position: center center;
}

.doc-block {

}
.doc-heading {
  border-bottom: 1px solid #ddd;
}
.doc-examples {

}