$font-family-reg: "Helvetica", "Arial", sans-serif;
$text-color: #666 !default;
$link-color: inherit;
$hr-color: #666;

body {
  font-family: $font-family-regular;
  color: $text-color;
}
a {
  color: $link-color;
  text-decoration: none;
}
p {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 20px;
}
hr {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: $hr-color;
  height: 1px;
  border: none;
}